bin/
obj/
Debug/
Release/
ARM/
packages/
node_modules
/.vs
src/.vs
/Logs
/src/Qu.Configurations.RestApi/*.vs
/src/Gusto.EI.Api/*.user
/src/Qu.Configurations.RestApi/*.user
/src/Gusto.EI.Common/*.user
/src/Gusto.EI.Contracts/*.user
/src/Gusto.EI.Repository.MsSql/*.user
/src/Gusto.EI.Services/*.user
src/Gusto.EI.Api/out
src/.vscode
.sonarqube/
/src/Gusto.EI.Repository.ExternalProviders/StyleCop.Cache
/src/Gusto.EI.Repository.Mongo/StyleCop.Cache
/src/Gusto.EI.Repository.Mongo.UnitTest/StyleCop.Cache
/src/Gusto.EI.Repository.MsSql/StyleCop.Cache
/src/Gusto.EI.Services/StyleCop.Cache
/src/Gusto.EI.Services.UnitTest/StyleCop.Cache
/src/Qu.EI.Ei2Adapter/StyleCop.Cache
/src/Qu.Menu.Service/StyleCop.Cache
/src/Qu.Menu.Service.UnitTest/StyleCop.Cache
testreport/
/TestResults
.project
/.vscode
src/Gusto.EI.Api/appsettings.gabriel.json
/src/Gusto.EI.Api/appsettings.lucas.json
/src/Gusto.EI.Api/Properties/launchSettings.json
/src/Qu.Configurations.RestApi/Properties/launchSettings.json
/src/Qu.EI.Api.IntegrationTest/Qu.EI.Api.IntegrationTest.csproj.user
src/Gusto.EI.Api/appsettings.Daniel.json
src/Gusto.EI.Contracts.UnitTest/.codeclonesettings
src/Gusto.EI.Repository.Mongo.UnitTest/.codeclonesettings
src/Gusto.EI.Services.UnitTest/.codeclonesettings
src/Qu.EI.Api.IntegrationTest/.codeclonesettings
*.opencover.xml
.idea
